# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular tools for Data Science
- List popular libraries for Data Science
- Creating differnt headings in jupyter notebook

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Scala
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. scipy
3. scikit-learn
4. matplotlib
5. seaborn

| Data Science Tools |
|--------------------|
| Jupyter Notebook |
| jupyter Lab |
| Google Colab |
| Visual studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Soumya Sunny P